<div class="container" style="width: 70%; float: right; ">
	<h2>{{title}}</h2>
<p-table #dt [columns]="cols" [value]="vacantes" [paginator]="true" [rows]="10" selectionMode="multiple"
                 [(selection)]="selectedVacantes">
    <ng-template pTemplate="caption">
        <div style="text-align: center">        
            <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
            <input type="text" pInputText size="50" placeholder="Busqueda" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
        </div>
        <div class="ui-helper-clearfix">
            <button type="button" pButton icon="fa fa-file-o" iconPos="left" label="Exportar registros" (click)="dt.exportCSV()" style="float:left"></button>
             <button type="button" pButton icon="fa fa-file" iconPos="left" label="Exportar selección" (click)="dt.exportCSV({selectionOnly:true})" style="float:right"></button>
            
        </div>
        
    </ng-template>
    
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns">
                {{col.header}}
            </th>
            <th>Editar</th>
        </tr>
        
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr [pSelectableRow]="rowData">
            <td *ngFor="let col of columns">
                {{rowData[col.field]}}
            </td>
            <td>
                <a [routerLink]="['/editar-vacantes', rowData.id , rowData.nombre, rowData.idSubarea , rowData.idPuesto ,rowData.idTipoPuesto, rowData.idTipo]"><i class="fa fa-edit" style="margin:4px 4px 0 0"></i></a>
                
                <button type="button" (click)="openLg(content,rowData.id,rowData.nombre,rowData.idSubarea , rowData.idPuesto ,rowData.idTipoPuesto, rowData.idTipo )" pButton icon="pi pi-pencil" label="Editar"></button>
                <!-- content,rowData.id,rowData.nombre,rowData.idSubarea , rowData.idPuesto ,rowData.idTipoPuesto, rowData.idTipo -->
               <!--  <button type="button" (click)="openModal(content,rowData.id,rowData.nombre,rowData.idSubarea , rowData.idPuesto ,rowData.idTipoPuesto, rowData.idTipo)" pButton icon="pi pi-pencil" label="Editar"></button> -->
                
                <button type="button" (click)="openModal(rowData.id)" pButton icon="pi pi-info-circle" label="EDITAR "></button>


                
            </td>
        </tr>
    </ng-template>
</p-table>


<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Editar catalogo</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container-fluid">
        
        <div class="row">
          <div class="col-md">
           <form #vacatanteForm="ngForm" (ngSubmit)="onSubmit(vacatanteForm)">
                <div class="form-group row">
                    <label for="example-text-input" class="col-2 col-form-label">Id</label>
                    <div class="col-10">
                        <input class="form-control" type="text" name= "id" value="{{editVacante.id}}"  [(ngModel)]="editVacante.id" readonly>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="example-text-input" class="col-2 col-form-label">Nombre</label>
                    <div class="col-10">
                        <input class="form-control" type="text" name= "nombre" value="{{editVacante.nombre}}"  [(ngModel)]="editVacante.nombre" >
                    </div>
                </div>
                <div class="form-group row">
                    <label for="example-text-input" class="col-2 col-form-label">Subarea</label>
                    <div class="col-10">
                        <input class="form-control" type="text" name= "idSubarea" value="{{editVacante.idSubarea}}"  [(ngModel)]="editVacante.idSubarea" >
                    </div>
                </div>
                <div class="form-group row">
                    <label for="example-text-input" class="col-2 col-form-label">Puesto</label>
                    <div class="col-10">
                        <input class="form-control" type="text" name= "idPuesto" value="{{editVacante.idPuesto}}"  [(ngModel)]="editVacante.idPuesto" >
                    </div>
                </div>
                <div class="form-group row">
                    <label for="example-text-input" class="col-2 col-form-label">Tipo Puesto</label>
                    <div class="col-10">
                        <input class="form-control" type="text" name= "idTipoPuesto" value="{{editVacante.idTipoPuesto}}"  [(ngModel)]="editVacante.idTipoPuesto" >
                    </div>
                </div>
                <div class="form-group row">
                    <label for="example-text-input" class="col-2 col-form-label">Tipo</label>
                    <div class="col-10">
                        <input class="form-control" type="text" name= "idTipo" value="{{editVacante.idTipo}}"  [(ngModel)]="editVacante.idTipo" >
                    </div>
                </div>
                
                <button pButton type="button" label="Enviar" type="submit" value="Enviar" [disabled]="!vacatanteForm.form.valid" ></button>

            </form>
          </div>
        </div>
      </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>



</div>

