<!-- 
  <div class="modal-header">
    <h4 class="modal-title">Editar catalogo</h4>
   
  </div>
  <div class="modal-body">
    <div class="container-fluid">
        
        <div class="row">
          <div class="col-md">
           <form #vacatanteForm="ngForm" (ngSubmit)="onSubmit(vacatanteForm)">
                <div class="form-group row">
                    <label for="example-text-input" class="col-2 col-form-label">Id</label>
                    <div class="col-10">
                        <input class="form-control" type="text" name= "id" value="{{editVacante.id}}"  [(ngModel)]="editVacante.id" readonly>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="example-text-input" class="col-2 col-form-label">Nombre</label>
                    <div class="col-10">
                        <input class="form-control" type="text" name= "nombre" value="{{editVacante.nombre}}"  [(ngModel)]="editVacante.nombre" >
                    </div>
                </div>
                <div class="form-group row">
                    <label for="example-text-input" class="col-2 col-form-label">Subarea</label>
                    <div class="col-10">
                        <input class="form-control" type="text" name= "idSubarea" value="{{editVacante.idSubarea}}"  [(ngModel)]="editVacante.idSubarea" >
                    </div>
                </div>
                <div class="form-group row">
                    <label for="example-text-input" class="col-2 col-form-label">Puesto</label>
                    <div class="col-10">
                        <input class="form-control" type="text" name= "idPuesto" value="{{editVacante.idPuesto}}"  [(ngModel)]="editVacante.idPuesto" >
                    </div>
                </div>
                <div class="form-group row">
                    <label for="example-text-input" class="col-2 col-form-label">Tipo Puesto</label>
                    <div class="col-10">
                        <input class="form-control" type="text" name= "idTipoPuesto" value="{{editVacante.idTipoPuesto}}"  [(ngModel)]="editVacante.idTipoPuesto" >
                    </div>
                </div>
                <div class="form-group row">
                    <label for="example-text-input" class="col-2 col-form-label">Tipo</label>
                    <div class="col-10">
                        <input class="form-control" type="text" name= "idTipo" value="{{editVacante.idTipo}}"  [(ngModel)]="editVacante.idTipo" >
                    </div>
                </div>
                
                <button pButton type="button" label="Enviar" type="submit" value="Enviar" [disabled]="!vacatanteForm.form.valid" ></button>
                <div class="modal-footer">
                  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Cerrar</button>
                </div>
        
                

            </form>
          </div>
        </div>
      </div>
  </div>
 <div class="modal-footer">
  
     <button type="button" class="close" aria-label="Close" (click)="activeModal.close('Close click')">
                  <span aria-hidden="true">&times;</span>
                </button>


  
</div>




 <h1>{{title}}</h1>

<div class="modal-header">
  <h4 class="modal-title"></h4>
  
  <button type="button" class="close" aria-label="Close" (click)="activeModal.close('Close click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  {{id_Catalogo}}
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Cerrar</button>
</div>

 -->


<h1>interno</h1>
<div class="modal-header">
  <h4 class="modal-title"></h4>
  <p-toast [style]="{marginTop: '80px'}"></p-toast>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.close('Close click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  {{id_Catalogo}}
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Cerrar</button>
</div>
