 <h3>GEB</h3>

 <app-menu style="float: left; width: 30%; "></app-menu>
<!-- <p-accordion style>
  <p-accordionTab header="Vacantes" style="width: 30%">
    <p-button label="Mostrar catalodo de Vacantes" [routerLink]="['/vacantes']" ></p-button> <br><br>
    <p-button label="Agregar registro en vacantes" [routerLink]="['/agregar-vacantes']" ></p-button>
  </p-accordionTab>
 

</p-accordion> -->


<section id="content">
  <router-outlet style="float: right; "></router-outlet>   
</section>
