<!-- <div class="container">

<h3 class="first">{{title}}</h3>



<form #vacatanteForm="ngForm" (ngSubmit)="onSubmit(vacatanteForm)">
	
	<div class="ui-g ui-fluid">
	    <div class="ui-g-12 ui-md-4">
	        <div class="ui-inputgroup">

	            <span class="ui-inputgroup-addon"><i class="fa fa-caret-up"></i></span>
	            <input type="text" pInputText placeholder="ID" name="vacanteEdit" #vacanteEdit="ngModel" [(ngModel)]="vacante.id" required>     
	          
	            <span *ngIf="vacanteEdit.touched && !vacanteEdit.valid">El Nombre es Obligatorio</span>    
	        </div>
	    </div>
	    <div class="ui-g-12 ui-md-4">
	        <div class="ui-inputgroup">

	            <span class="ui-inputgroup-addon"><i class="fa fa-caret-up"></i></span>
	            <input type="text" pInputText placeholder="Nombre" name="nombre" #nombre="ngModel" [(ngModel)]="vacante.nombre" required>     
	          
	            <span *ngIf="nombre.touched && !nombre.valid">El Nombre es Obligatorio</span>    
	        </div>
	    </div>
	    <div class="ui-g-12 ui-md-4">
	        <div class="ui-inputgroup">

	            <span class="ui-inputgroup-addon"><i class="fa fa-spider"></i></span>
	            <input type="text" pInputText placeholder="Area" name="idSubarea" #idSubarea="ngModel" [(ngModel)]="vacante.idSubarea" required>     
	            <span *ngIf="idSubarea.touched && !idSubarea.valid">El Area es Obligatorio</span>    
	        </div>
	    </div>
	     <div class="ui-g-12 ui-md-4">
	        <div class="ui-inputgroup">

	            <span class="ui-inputgroup-addon"><i class="fa fa-spider"></i></span>
	            <input type="text" pInputText placeholder="Puesto" name="idPuesto" #idPuesto="ngModel" [(ngModel)]="vacante.idPuesto" required>     
	            <span *ngIf="idPuesto.touched && !idPuesto.valid">El puesto es Obligatorio</span>    
	        </div>
	    </div>
	    <div class="ui-g-12 ui-md-4">
	        <div class="ui-inputgroup">

	            <span class="ui-inputgroup-addon"><i class="fa fa-spider"></i></span>
	            <input type="text" pInputText placeholder="Tipo puesto" name="idTipoPuesto" #idTipoPuesto="ngModel" [(ngModel)]="vacante.idTipoPuesto" required>     
	            <span *ngIf="idTipoPuesto.touched && !idTipoPuesto.valid">El tipo puesto es Obligatorio</span>    
	        </div>
	    </div>
	   
	    <div class="ui-g-12 ui-md-4">
	        <div class="ui-inputgroup">

	            <span class="ui-inputgroup-addon"><i class="fa fa-spider"></i></span>
	            <input type="text" pInputText placeholder="Tipo" name="idTipo" #idTipo="ngModel" [(ngModel)]="vacante.idTipo" required>     
	            <span *ngIf="idTipo.touched && !idTipo.valid">El tipo puesto es Obligatorio</span>    
	        </div>
	    </div>
	</div>

	


	
	
	
<button pButton type="button" label="Enviar" type="submit" value="Enviar" ></button>

</form>
</div> -->
<div class="container"  style="width: 70%; float: right; ">

<h3 class="first">{{title}}</h3>


<form #vacatanteForm="ngForm" (ngSubmit)="onSubmit(vacatanteForm)">
		  <div class="form-group">
		  	<div class="col-md-6 mb-3" >
		  		<label class="col-sm-2 col-form-label" for="nombre">Nombre</label>
			    <input type="text" class="form-control" pInputText placeholder="Nombre" name="nombre" #nombre="ngModel" [(ngModel)]="vacante.nombre" required>
			    <small  *ngIf="!nombre.touched" id="nombreHelp" class="form-text text-muted has-success">Introduzca el nombre de la vacante.</small>
			    <br *ngIf="nombre.touched && !nombre.valid">
			    <small  *ngIf="nombre.touched && !nombre.valid" id="nombreWarning" class="alert alert-danger">Es necesario el nombre de a vacante.</small>
			    <!-- *ngIf="nombre.touched && !nombre.valid" -->
		  	</div>
		    
		  </div>
		  <div class="form-group">
		  	<div class="col-md-6 mb-3" >
			    <label class="col-sm-2 col-form-label" for="idSubarea">Subarea</label>
			    <input type="text"  class="form-control" pInputText placeholder="Subarea" name="idSubarea" #idSubarea="ngModel" [(ngModel)]="vacante.idSubarea" pattern="[0-9]*" required>
			    <small  *ngIf="!idSubarea.touched" id="SubareaeHelp" class="form-text text-muted has-success">Introduzca la subarea de la vacante.</small>
			     <br *ngIf="idSubarea.touched && !idSubarea.valid">
			    <small *ngIf="idSubarea.touched && !idSubarea.valid"  id="idSubareaWarning" class="alert alert-danger">Es necesario la subarea de la vacante y sea numerico.</small>
			</div>
		  </div>
		  <div class="form-group">
		  	<div class="col-md-6 mb-3" >
		  		<label class="col-sm-2 col-form-label" for="idPuesto">Puesto</label>
			   <input type="text" class="form-control" pInputText placeholder="Puesto" name="idPuesto" #idPuesto="ngModel" [(ngModel)]="vacante.idPuesto" pattern="[0-9]*" required>
			   <small  *ngIf="!idPuesto.touched" id="PuestoeHelp" class="form-text text-muted has-success">Introduzca el puesto de a vacante.</small>
			    <br *ngIf="idPuesto.touched && !idPuesto.valid">
			   <small  *ngIf="idPuesto.touched && !idPuesto.valid" id="idPuestoWarning" class="alert alert-danger">Es necesario el puesto de la vacante y sea numerico.</small>
			    
		  	</div>
		    
		  </div>
		  <div class="form-group">
		  	<div class="col-md-6 mb-3" >
		  		<label class="col-sm-4 col-form-label" for="idTipoPuesto">Tipo de puesto</label>
			    <input type="text" class="form-control" pInputText placeholder="Tipo de puesto" name="idTipoPuesto" #idTipoPuesto="ngModel" [(ngModel)]="vacante.idTipoPuesto" pattern="[0-9]*" required>
			    <small  *ngIf="!idTipoPuesto.touched" id="idTipoPuestoeHelp" class="form-text text-muted has-success">Introduzca el tipo del puesto de la vacante.</small>
			    <br *ngIf="idTipoPuesto.touched && !idTipoPuesto.valid">
			   <small  *ngIf="idTipoPuesto.touched && !idTipoPuesto.valid" id="idTipoPuestoeWarning" class="alert alert-danger">Es necesario el tipo del puesto de la vacante y sea numerico.</small>
		  	</div>
		  </div>

		  <div class="form-group">
		  	<div class="col-md-6 mb-3" >
		  		<label  class="col-sm-4 col-form-label" for="idTipo">Tipo de vacante</label>
			    <input type="text" class="form-control" pInputText placeholder="Tipo de vacante" name="idTipo" #idTipo="ngModel" [(ngModel)]="vacante.idTipo" pattern="[0-9]*" required>
			    <small  *ngIf="!idTipo.touched" id="idTipoPuestoeHelp" class="form-text text-muted has-success">Introduzca el tipo de la vacante.</small>
			    <br *ngIf="idTipo.touched && !idTipo.valid">
			   <small  *ngIf="idTipo.touched && !idTipo.valid" id="idTipoeWarning" class="alert alert-danger">Es necesario el tipo de la vacante y sea numerico.</small>
		  		
		  	</div>
		    
		  </div>
		  
		  
		  <button pButton type="button" label="Enviar" type="submit" value="Enviar" [disabled]="!vacatanteForm.form.valid" ></button>
</form>




</div>

